@import '../mixins.scss';
$orange:rgb(255, 221, 0);
$black: rgb(31, 31, 31);
.LoaderComponent{
  
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: space-around;
    // z-index: -1;
    left: 0;
    top: 0;
    transition: 0.5s;
    .LoaderComponent__logo{
        width: 100px;
        height: 100px;
        top: calc(50vh - 50px);
        left: calc(50% - 50px);
        position: fixed;
        transition: 0.5s;
        border-radius: 5px;
        // opacity: 1;
        // visibility: hidden;
    }
    .LoaderComponent__element{
        background-color: orange;
        width: calc(100%/6);
        height: 100vh;
        box-shadow: inset 0 0 5px $black;
        border: 1px solid $black;
        transition: 0.2s;
        // transform: translateY(0);
    }
}